/* container styling */
#root {
  min-height: 100vh;
  text-align: center;
  padding: 1.5rem;
  --text: #d6fcf3;
  --background: #021611;
  --primary: #7ef6e0;
  --secondary: #910a32;
  --accent: #efc121;
  color: var(--text);
  background-color: var(--background);
}

/* navbar menu styling */
.navbar {
  border-radius: 0.45rem;
  background-color: var(--secondary);
}

.navbar.nav-link {
  color: var(--accent);
  font-weight: 600;
}

.navbar.nav-link:hover {
  color: var(--text);
}

/* styling for message telling user to sign in to access app */
.auth-message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.225rem;
  color: var(--text);
}

/* styling for app buttons */
.btn.app-buttons {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 600;
}

.btn.control-button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--primary);
  color: var(--background);
  font-weight: 600;
}

.btn.back-button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: var(--secondary);
  color: var(--accent);
  font-weight: 600;
}

/* styling for application header component */
.app-title {
  font-size: 2.6rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}

.header-links {
  font-size: 1.05rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* styling for trip details navigation links for categories */
.trip-details-header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 2rem;
  color: var(--text);
}

.nav-link.details {
  background-color: var(--secondary);
  color: var(--accent);
  border-radius: 0.45rem;
}

.nav-link.details:hover {
  color: var(--text);
}

.detail-categories {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.025rem;
}

.nav-link {
  color: var(--accent);
}

.nav-link.active {
  background-color: var(--secondary);
  color: var(--text);
  border-radius: 0.45rem;
}

/* styling for sign in page */
.sign-in-headings {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: var(--accent);
}

.sign-in-messages {
  font-size: 1.15rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

/* table styling for trip details categories */
table {
  table-layout: fixed;
  width: 100%;
}

.table th, .table td {
  border: 0.125rem solid black;
  background-color: var(--text);
}

.table-container {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.dest-info-data {
  font-style: italic;
  max-width: 30vw;
  overflow: auto;
  font-weight: 600;
}

.gear-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.misc-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.trip-costs-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.trip-notes-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

/* trip list styling */
.trip-header-in-list {
  font-family:'Courier New', Courier, monospace;
  font-size: 1.85rem;
  font-weight: 600;
  color: var(--accent);
  word-wrap: break-word;
}

.trip-dates-in-list {
  color: var(--accent);
  font-family:'Courier New', Courier, monospace;
  font-size: 1.075rem;
  font-weight: 600;
}

.trip-header-in-list:hover {
  color: var(--text);
}

/* form styling */
.calendar {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.075rem;
}

.form-error-msg {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #dc3545;
  font-weight: 600;
  font-size: 1.075rem;
}

.form-section-heading {
  color: var(--accent);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.form-select {
  background-color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.form-control {
  background-color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.required-msg {
  color: var(--text);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.0935rem;
}

