/* container styling */
#root {
  min-height: 100vh;
  text-align: center;
  padding: 1.5rem;
  --text: #ECF0F1;
  --background: #34495E;
  --primary: #2C3E50;
  --secondary: #16a05d;
  --accent: #ff1900;
  color: var(--text);
  /* sunrise gradient */
  background: linear-gradient(to right, #ff9a8b, #fdd365, #8479e1);
}

/* navbar menu styling */
.navbar-link {
  color: var(--text);
  font-size: 1.3rem;
  font-family: "Cabin", sans-serif;
}

.navbar-link:link,
.navbar-link:visited,
.navbar-link:hover,
.navbar-link:active  {
  text-decoration: none;
}

.navbar-link:hover {
  color: var(--background);
}

.navbar-nav.me-auto {
  float: center;
}

.navbar {
  background: linear-gradient(to right, #4a7856, #2d8ca3);
  display: flex;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.navbar-collapse {
  grid-column: span 3;
}

.navbar > .container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  flex-wrap: inherit;
  align-items: center;
  position: relative;
  margin: 0 auto 0 auto;
  padding: 0 0 0 0;
  width: 100%;
}

.navbar-menu-links {
  display: flex;
  justify-content: center;
  gap: 0.65rem;
  margin-top: 0.5rem;
}

.navbar-toggler {
  background-color: var(--text);
  font-size: 0.8rem;
  justify-self: flex-end;
}

.navbar-toggler:hover {
  background-color: var(--background);
}

/* styling for message telling user to sign in to access app */
.auth-message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.125rem;
  color: var(--primary);
}

/* styling for app buttons */
.btn.app-buttons {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to right, #2C3E50, #465A65);
  color: var(--text);
  font-weight: 600;
}

.btn.control-button {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to bottom, #2C3E50, #356e8c);
  color: var(--text);
  font-weight: 600;
}

.btn.back-button {
  font-family: "Open Sans", sans-serif;
  background: linear-gradient(to left, #2C3E50, #465A65);
  color: var(--text);
  font-weight: 600;
}

/* styling for application header component */
.app-title {
  font-size: 2.45rem;
  font-family: "Cabin", sans-serif;
  font-weight: 900;
  color: var(--text);
  margin: 0;
  justify-self: center;
}

.header-links {
  font-size: 1.05rem;
  font-weight: 600;
  font-family: 'Merriweather';
}

/* styling for trip details navigation links for categories */

.flex-column {
  flex-direction: column !important;
  align-items: center;
  display: flex;
  width: 100%;
}

.nav-item {
  flex-direction: column;
  display: flex;
  width: 50%;
}

.nav-link.details {
  background-color: var(--primary);
  color: var(--text);
  border-radius: 0.45rem;
}

/* .nav-link.details:hover {
  color: var(--text);
} */

.detail-categories {
  font-family: "Open Sans", sans-serif;
  font-size: 1.025rem;
}

.nav-link {
  color: var(--accent);
}

.trip-details-buttons, .form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

/* styling for sign in page */

.current-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
}

.forgot-password {
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
  text-decoration: none;
  font-size: 1.075rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;
}

.forgot-password:hover {
  color: var(--text);
}

.sign-in-headings {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: var(--primary);
  font-size: 1.65rem;
}

.sign-in-messages {
  font-size: 1.125rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.username {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.02rem;
  color: var(--primary);
}

#user-icon {
  color: var(--primary);
}

/* table styling for trip details categories */
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-radius: 0.45rem;
  overflow: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* border-image: linear-gradient(to right, #1167f2, #1e40af) 1; */
}

.table th, .table td {
  border: 0.125rem solid black;
  background-color: var(--text);
}

.table-container {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.dest-info-data {
  font-style: italic;
  max-width: 30vw;
  overflow: auto;
  font-weight: 600;
}

.gear-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.misc-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.trip-costs-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

.trip-notes-data {
  font-style: italic;
  font-weight: 600;
  max-width: 30vw;
  overflow: auto;
}

/* trip list styling */
.empty-trip-list-msg {
  font-size: 1.125rem;
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
}

.trip-header-in-list {
  font-family:"Open Sans", sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--primary);
  word-wrap: break-word;
}

.trip-dates-in-list {
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-size: 1.075rem;
  font-weight: 600;
}

.trips-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  /* justify-items: center; */
  /* align-items: center; */
}

.trip {
  border-radius: 0.45rem;
  background: radial-gradient(circle at center, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0) 60%),
  linear-gradient(to bottom, #c3e88d, #95bef0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.5s ease, box-shadow 0.3s ease;
  padding: 2.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.trip:hover {
  transform: translateY(-5px);
  cursor: pointer;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* form styling */
.calendar {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  color: var(--background);
}

#email-icon {
  pointer-events: none;
}

.form-input-container {
  position: relative;
}

.form-input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary);
}

#password-icon:hover {
  cursor: pointer;
}

.form-instruction {
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  color: var(--primary);
}

.form-section-heading {
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.form-select {
  background-color: var(--text);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
}

.form-control {
  background-color: var(--text);
  /* border-color: #ced4da; */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  font-family: "Open Sans", sans-serif;
  color: var(--primary);
}

label {
  color: var(--primary);
  align-items: flex-start;
  display: flex;
  font-size: 1.15rem;
  font-weight: 500;
}

.required-msg {
  color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

