body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styling for message telling user to sign in to access app */
.auth-message {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

/* styling for app buttons */
.btn.app-buttons {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* styling for application header component */
.app-title {
  font-size: 2.6rem;
  font-family:'Courier New', Courier, monospace;
  font-weight: 600;
}

.header-links {
  font-size: 1.05rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-message {
  font-size: 1.15rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

/* styling for trip details navigation links for categories */
.detail-categories {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.025rem;
}

.nav-link.active {
  background-color: #17a2b8;
  color: white !important;
  border-radius: 0.45rem;
}

/* container styling */
#root {
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

/* styling for sign in page */
.sign-in-headings {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

.sign-in-messages {
  font-size: 1.15rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
}

.sign-out-message {
  font-size: 1.15rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
  font-weight: 600;
}

/* table styling for trip details categories */
.table th, .table td {
  border: 0.125rem solid black;
}

.table-container {
  margin-left: 0.825rem;
  margin-right: 0.825rem;
}

.dest-info-data {
  font-style: italic;
}

.gear-data {
  font-style: italic;
}

.misc-data {
  font-style: italic;
}

.trip-costs-data {
  font-style: italic;
}

.trip-notes-data {
  font-style: italic;
}

/* trip details styling */
.trip-details-header {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 2rem;
}

/* trip list styling */

.trip-header-in-list {
  font-family:'Courier New', Courier, monospace;
  font-size: 1.85rem;
  font-weight: 600;
}

.trip-type-in-list {
  font-size: 1.25rem;
  font-family:'Courier New', Courier, monospace;
}